.about {
  h1 {
    width: 95%;
    font-size: 4em;
    font-weight: bold;
    padding: 1rem;
    letter-spacing: -0.1rem;
    margin-top: 5rem;
  }
  p {
    padding: 1rem;
    font-size: 0.9em;
    word-spacing: 0.22rem;
    line-height: 1.4rem;
    span {
      font-size: 1.11em;
      word-spacing: normal;
      font-style: italic;
      display: inline-block;
      line-height: 1.7rem;
      margin-bottom: 1.5rem;
    }
  }
}
